<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ImageProcessor" version="2.3.3.0" targetFramework="net45" />
  <package id="ImageProcessor.Web" version="4.5.3.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net45" />
  <package id="UmbracoCms.Core" version="7.1.9" targetFramework="net45" />
</packages>